@keyframes opacity{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.logo-pokemon{
    width: 125px;
}

.pokemon{
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;
    animation: opacity 1s;
}

.pokemon:hover{
    transform: scale(1.025);
}

.pokemon:active{
    transform: scale(0.975);
}

#single-poke-modal{
    position: fixed;
    inset: 0;
    display: none;
    place-items: center;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}

#single-poke-modal > div{
    width: fit-content;
    height: fit-content;
}

.info-img{
    width: 20rem;
}

@media (max-width: 558px) {
    .pokemon-image{
        margin: auto;
        width: 75%;
    } 
}

@media (max-width: 450px) {
    #single-poke-modal > div{
       width: 90vw;
    } 
}
