.logo-pokemon{
    width: 125px;
}

.id-pokemon, .info-id{
    font-size: 17px;
    letter-spacing: 3px;
}

.pokemon{
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s;
    animation: opacity 1s;
}

.pokemon:hover{
    transform: scale(1.025);
}

.pokemon:active{
    transform: scale(0.975);
}

#single-poke-modal{
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    z-index: 15;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}


#pokemon-infos{
    width: calc(400px + 10%);
    height: 85vh;
    z-index: 5;
}

.info-img{
    width: 400px;
}




@media (max-width: 558px) {
    .pokemon-image{
        margin: auto;
        width: 75%;
    } 
}

@media (max-width: 450px) {
    .info-img{
        width: 75%;
    } 
    #pokemon-infos{
        width: 90vw;
    }     
}


@keyframes opacity{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
