.logo-pokemon{
    width: 125px;
}

.id-pokemon{
    font-size: 17px;
    letter-spacing: 3px;
}

.pokemon{
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s;
    animation: opacity 1s;
}

.pokemon:hover{
    transform: scale(1.025);
}

.pokemon:active{
    transform: scale(0.975);
}


@keyframes opacity{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
